.mainBLog {
  /* border: 2px solid red; */
  width: 80%;
  margin: auto;
  padding: 50px;
}
.blogTitle {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 32px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.deleteBtn{
  color: red;
}
.blogCatAuth {
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  padding: 10px 0px;
}
.imgBlog {
  height: 400px;
  overflow: hidden;
}
.imgBlog img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 10px 0px;
}
.blogDetails {
  padding: 10px 0px;
  font-size: 24px;
}
.commentDiv {
  margin-top: 10px;
  /* border: 1px solid red; */
  padding: 10px 0px;
}
.cmtSection {
  /* border: 1px solid green; */
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
}
.cmtSection input {
  padding-bottom: 5px;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 2px solid black;
}
.arrow {
  position: absolute;
  right: 190px;
  cursor: pointer;
  color: #333;
}
.detailCmts{
    display: flex;
    justify-content: space-between;
}
.ShowCmt{
    /* padding: 10px; */
    margin-bottom: 10px;
}
