.SideBarDiv {
  height: 87vh;
  width: 100%;
  /* position: fixed; */
  border-collapse: collapse;
  background-color: grey;
  /* border:10px solid red; */
}

.category {
  display: flex;
  flex-direction: column;
  /* border: 1px solid green; */
  align-items: center;
  justify-content: center;
  width: 100%;
  border-collapse: collapse;
  font-size: 28px;
}
.category div {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 10px;
  height: 8vh;
  width: 100%;
  align-items: center;
  color: white;
  font-size: 22px;
}
.blogBtns {
  margin-top: 90px;
  display: flex;
  justify-content: center;
}
.blogBtns button {
  width: 90%;
  height: 7vh;
  font-size: 22px;
  border-radius: 10px;
  background-color: darkslategray;
  color: WHITE;
  border: none;
}

.category div:hover {
  background-color: darkslategray;
  color: white;
  cursor: pointer;
}
